.buttons {
  display: block;
  width: fit-content;
  margin: 20px auto 0 auto;
}

.btn:hover {
  filter: brightness(0.8);
}

.record-btn {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
}

.record-btn.active {
  background-color: red;
}
